*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper{
    width: 100%;
}
.wrapper  .carousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}.carousel .card{
    line-height: 250px;
    text-align: center;
    color: #fff;
    font-size: 90px;
    font-weight: 600;
    margin: 20px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
border-radius: 10px;
}
.carousel .card-1{
    background: #ed1c24;
}
.carousel .card-2{
    background: #0072bc;
}
.carousel .card-3{
    background: #39b54a;
}
.carousel .card-4{
    background: #f26522;
}
.carousel .card-5{
    background: #630460;
}
.owl-dots{
    text-align: center;
    margin-top: 40px;
}
.owl-dot{
    height: 15px;
    width: 45px;
    border: 2px solid #0072bc !important;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin: 0 5px;
    transition: all 0.3s ease;
}
.owl-dot:hover,
.owl-dot.active{
    background: #0072bc !important;
}