*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel-wrapper{
    height: 400px;
    position: relative;
    width: 800px;
    display: block;
    margin: 50px auto;
    border: 2px solid black;
}
.carousel-item{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease;


}
.arrow{
    border: solid rgb(235, 232, 232);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}
.arrow-prev{
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%) rotate(135deg);
}
.arrow-next{
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%) rotate(-45deg);
}
[id^= "item"]{
    display: none;
}
.item-1{
    z-index: 2;
    opacity: 1;
    background: url('images/IMG_0309.jpg');
    background-size: cover;
}
.item-2{
    background: url('images/IMG_0317.jpg');
    background-size: cover;
}
.item-3{
    background: url('images/IMG_0320.jpg');
    background-size: cover;
}
*:target ~ .item-1{
    opacity: 0;
}
#item-1:target ~ .item-1{
    opacity: 1;
}
#item-2:target ~ .item-2, #item-3:target ~ .item-3{
    z-index: 3;
    opacity: 1;
}