*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2c3e50;
    font-family: sans-serif;
}
.details{
    margin: 20px 0;
    background-color: #fff;
    padding: 30px 20px;
    position: relative;
    z-index: 1;
}
.details h2{
    font-size: 22px;
    text-transform: uppercase;
    transition: all 0.6s;
}
.details p{
    font-size: 14px;
    transition: all 0.6s;
}
.details a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #2c3e50;
    padding: 6px 12px;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #2c3e50;
    transition: all 0.6s;
}
.details::before{
    content: "";
    width: 5px;
    height: 100%;
    background-color: #ff5722;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.6s;
}
.details:hover::before{
    width: 100%;
}
.details:hover h2, .details:hover p{
    color: #fff;
}
.details:hover a{
    background-color: transparent;
    border: 1px solid #fff;
}